* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    line-height: 24px;
}

h1 , h2, li {
    text-transform: uppercase;
}

 /* Navbar */
#Navbar{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
} 

ul li{
    cursor: pointer;
    margin-left: 25px;
    margin-top: 13px;
    float: left;
    list-style: none;
    text-align: center;
    font-size: 13px;
}
 /* End Navbar */

 /* Slider */
.Slider{
    
    height: auto;
}
.Slider img{
    width: 100%;
    height: 400px;
}
 /* End Slider */

 /* Intro */
#Intro{
   margin: 0 10px;
}
/* img bên trái */
#img_intro{
    display: flex;
    justify-content: space-around;
}

#left{
    width: 50%;
}

.left_up img{
    margin-right: 17px;
    margin-bottom: 14px;
    width: 305px;
    height: 200px;
}
.left_down img{
    height: 400px;
    width: 95%;
}
/* img bên phải */
#right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#right img{
    margin-bottom: 21px;
    width: 100%;
    height: 300px;
    object-fit: fill;
}
 /* End Intro */

 /* Product */
 #Product{
    height: 500px; 
}
.SP{
    margin-top: 17px;
    display: flex;
    justify-content: space-around;
}
.SP div img{
    width: 300px;
}
.SP div button{
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 10px 25px 10px;
    text-transform: uppercase;
    font-size: 13px;
}
/* End Product */

/* Service */
#Services{
    margin: 10px 100px;
    display: flex;
    justify-content: space-around;
}

#Services div {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

#Services div ion-icon{
    width: 37px;
    height: 30px;
}
/* End Service */

/* Footer */
#Footer{
    background-color: black;
    margin-top: 27px;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/* End Footer */